.FolderTree,
.FolderTreeBasic {
  color: black;
  padding: 0.5rem;
}

.FolderTreePane {
  width: 400px;
}
.FolderTreePane .accordion-body {
  padding: 0;
}

.accordion-button {
  overflow-wrap: anywhere;
}
